    html{
      scroll-behavior: smooth;
       
    }

    body {
          background-image: url(../img/abstrato.jpg);   
          background-repeat: round;
    }



    header, footer{
        background-color: rgba(0,0,139);
        padding: 1%;
        font-family: 'Odibee Sans', cursive;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        line-height: 1.5;

    }

    .fixo{

      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }

    .container{

         width: 80%;
         margin-right: auto;
         margin-left: auto;
         position: relative;
    }

@media screen and (max-width: 599px) {
  .container{
    margin-top: 70%;
  }

}

@media screen and (min-width: 600px) {
  .container{
    margin-top: 50%;
  }

}

@media only screen and (min-width: 768px) {
        .container{
        margin-top: 15%; }

        header{
          background-color: rgba(0,0,139,0.7);
          flex-direction: row;
          position: relative;
        }

       .menu-opcoes{
        position: absolute;
        right: 5%;
        top: 40%;
       }

       .menu-opcoes ul li{

        display: inline;
        margin-left: 15px;
       }


}

    h1 {
        text-align: center;
        color: #4169E1;
        line-height: 2;
        font-size: 2em;
        font-family: 'Odibee Sans', cursive;

    }

    h2 {
        color: #1E90FF;
        line-height: 2;
        font-size: 1.5em;
        font-family: 'Odibee Sans', cursive;

    }


    p {       	
        color: #ffff;
        font-size: 1.2em;
        margin-top: 2%;
        margin-bottom: 2%;

    }

    .imgtexto{
        border: 5px dashed #4682B4;
        width: 80%;

    }

    .imglogo{
      width: 45%;

    }

    ol{
        color: #ffff;
        line-height: 1.5;
        font-size: 1.2em;
    }

    .titulos{
        text-align: center;
        color: #4169E1;
        line-height: 2;
        font-size: 1.5em;

    }

    a:link {
      color: #6495ED;
      background-color: transparent;
      text-decoration: none;
    }

    a:visited {
      color: #ffff;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: #00BFFF;
      background-color: transparent;
      text-decoration: underline;
    }

    a:active {
      color: blue;
      background-color: transparent;
      text-decoration: underline;
    }

    table{
      border-collapse: collapse;
      width: 80%;
      color: #ffff;
      margin-right: auto;
      margin-left: auto;
    }

    td,th{
      border: 5px dashed #4682B4;
      padding: 2.5%;
    }

    tr:nth-child(even){
      background-color: #191970;
    }

